In [1]:
a = [1, 2, -5, 0.3, 6, -2, 4]  # numeric vector
b = ["one", "two", "three"]     # character vector
c = [True, True, True, False, True]  # logical vector
print(a)
print(b)
print(c)

[1, 2, -5, 0.3, 6, -2, 4]
['one', 'two', 'three']
[True, True, True, False, True]

In [2]:
#MATRIKS
import numpy as np
cells = [3, 15, -27, 38]
r_gwen = ["R1", "R2"]
c_gwen = ["C1", "C2"]
gwen_matrix = np.matrix(cells).reshape(2, 2)
print(gwen_matrix)

[[  3  15]
 [-27  38]]

In [10]:
import pandas as pd
import numpy as np

gwen1 = [1, 2, 3, 4]
gwen2 = ["red", "white", "red", np.nan]  # Menggunakan np.nan untuk merepresentasikan NA
gwen3 = [True, True, True, False]

dataku = pd.DataFrame({'ID': gwen1, 'Color': gwen2, 'Passed': gwen3})
print(dataku)

   ID  Color  Passed
0   1    red    True
1   2  white    True
2   3    red    True
3   4    NaN   False

In [5]:
import pandas as pd

data_gwen = pd.DataFrame({'id': list('abcdefghij'), 'x': list(range(1, 11)), 'y': list(range(11, 21))})
print(data_gwen)

  id   x   y
0  a   1  11
1  b   2  12
2  c   3  13
3  d   4  14
4  e   5  15
5  f   6  16
6  g   7  17
7  h   8  18
8  i   9  19
9  j  10  20

In [1]:
import mysql.connector

# Membuat koneksi ke MySQL
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="houseprices"
)

# Membuat objek cursor untuk mengeksekusi kueri 
cursor = connection.cursor()

try:
    # Mengeksekusi kueri SQL 
    my_query = "SELECT * FROM gwen;" 
    cursor.execute(my_query)

    # Mengambil semua hasil kueri 
    result = cursor.fetchall()

    # Menampilkan hasil kueri 
    print("\nHasil Kueri:")
    for row in result: 
        print(row)
    
finally:
    # Menutup cursor dan koneksi
    cursor.close()
    connection.close()

Hasil Kueri:
(114300, 1790, 2, 2, 2, 'No', 'East')
(114200, 2030, 4, 2, 3, 'No', 'East')
(114800, 1740, 3, 2, 1, 'No', 'East')
(94700, 1980, 3, 2, 3, 'No', 'East')
(119800, 2130, 3, 3, 3, 'No', 'East')
(114600, 1780, 3, 2, 2, 'No', 'North')
(151600, 1830, 3, 3, 3, 'Yes', 'West')
(150700, 2160, 4, 2, 2, 'No', 'West')
(119200, 2110, 4, 2, 3, 'No', 'East')
(104000, 1730, 3, 3, 3, 'No', 'East')
(132500, 2030, 3, 2, 3, 'Yes', 'East')
(123000, 1870, 2, 2, 2, 'Yes', 'East')
(102600, 1910, 3, 2, 4, 'No', 'North')
(126300, 2150, 3, 3, 5, 'Yes', 'North')
(176800, 2590, 4, 3, 4, 'No', 'West')
(145800, 1780, 4, 2, 1, 'No', 'West')
(147100, 2190, 3, 3, 4, 'Yes', 'East')
(83600, 1990, 3, 3, 4, 'No', 'North')
(111400, 1700, 2, 2, 1, 'Yes', 'East')
(167200, 1920, 3, 3, 2, 'Yes', 'West')
(116200, 1790, 3, 2, 3, 'No', 'East')
(113800, 2000, 3, 2, 4, 'No', 'North')
(91700, 1690, 3, 2, 3, 'No', 'North')
(106100, 1820, 3, 2, 3, 'Yes', 'North')
(156400, 2210, 4, 3, 2, 'Yes', 'East')
(149300, 2290, 4, 3, 3, 'No', 'North')
(137000, 2000, 4, 2, 3, 'No', 'West')
(99300, 1700, 3, 2, 2, 'No', 'East')
(69100, 1600, 2, 2, 3, 'No', 'North')
(188000, 2040, 4, 3, 1, 'Yes', 'West')
(182000, 2250, 4, 3, 3, 'Yes', 'West')
(112300, 1930, 2, 2, 2, 'Yes', 'North')
(135000, 2250, 3, 3, 3, 'Yes', 'East')
(139600, 2280, 5, 3, 4, 'Yes', 'East')
(117800, 2000, 2, 2, 3, 'No', 'North')
(117100, 2080, 3, 3, 3, 'No', 'North')
(117500, 1880, 2, 2, 2, 'No', 'North')
(147000, 2420, 4, 3, 4, 'No', 'West')
(131300, 1720, 3, 2, 1, 'No', 'West')
(108200, 1740, 3, 2, 2, 'No', 'North')
(106600, 1560, 2, 2, 1, 'No', 'East')
(133600, 1840, 4, 3, 2, 'No', 'West')
(105600, 1990, 2, 2, 3, 'No', 'East')
(154000, 1920, 3, 2, 1, 'Yes', 'East')
(166500, 1940, 3, 3, 2, 'Yes', 'West')
(103200, 1810, 3, 2, 3, 'No', 'East')
(129800, 1990, 2, 3, 2, 'No', 'North')
(90300, 2050, 3, 2, 6, 'No', 'North')
(115900, 1980, 2, 2, 2, 'No', 'East')
(107500, 1700, 3, 2, 3, 'Yes', 'North')
(151100, 2100, 3, 2, 3, 'Yes', 'East')
(91100, 1860, 2, 2, 3, 'No', 'North')
(117400, 2150, 2, 3, 4, 'No', 'North')
(130800, 2100, 3, 2, 3, 'No', 'North')
(81300, 1650, 3, 2, 3, 'No', 'North')
(125700, 1720, 2, 2, 2, 'Yes', 'East')
(140900, 2190, 3, 2, 3, 'Yes', 'East')
(152300, 2240, 4, 3, 3, 'No', 'West')
(138100, 1840, 3, 3, 1, 'No', 'West')
(155400, 2090, 4, 2, 1, 'No', 'West')
(180900, 2200, 3, 3, 1, 'No', 'West')
(100900, 1610, 2, 2, 2, 'No', 'North')
(161300, 2220, 4, 3, 2, 'No', 'West')
(120500, 1910, 2, 3, 2, 'No', 'East')
(130300, 1860, 3, 2, 2, 'No', 'West')
(111100, 1450, 2, 2, 1, 'Yes', 'North')
(126200, 2210, 3, 3, 4, 'No', 'North')
(151900, 2040, 4, 3, 3, 'No', 'East')
(93600, 2140, 3, 2, 4, 'No', 'North')
(165600, 2080, 4, 3, 3, 'No', 'West')
(166700, 1950, 3, 3, 3, 'Yes', 'West')
(157600, 2160, 4, 2, 1, 'No', 'West')
(107300, 1650, 3, 2, 3, 'No', 'North')
(125700, 2040, 3, 3, 2, 'No', 'East')
(144200, 2140, 3, 3, 3, 'No', 'West')
(106900, 1900, 2, 2, 2, 'No', 'North')
(129800, 1930, 3, 2, 2, 'No', 'West')
(176500, 2280, 4, 3, 3, 'Yes', 'West')
(121300, 2130, 3, 2, 3, 'No', 'North')
(143600, 1780, 4, 2, 1, 'No', 'West')
(143400, 2190, 3, 3, 4, 'Yes', 'East')
(184300, 2140, 4, 3, 2, 'Yes', 'West')
(164800, 2050, 2, 2, 1, 'Yes', 'West')
(147700, 2410, 3, 3, 2, 'No', 'East')
(90500, 1520, 2, 2, 3, 'No', 'North')
(188300, 2250, 4, 3, 2, 'Yes', 'West')
(102700, 1900, 4, 2, 4, 'No', 'North')
(172500, 1880, 3, 3, 1, 'Yes', 'West')
(127700, 1930, 3, 3, 2, 'No', 'North')
(97800, 2010, 2, 2, 4, 'No', 'North')
(143100, 1920, 4, 2, 2, 'No', 'West')
(116500, 2150, 3, 2, 2, 'No', 'East')
(142600, 2110, 3, 2, 2, 'No', 'West')
(157100, 2080, 3, 3, 2, 'No', 'East')
(160600, 2150, 4, 3, 3, 'Yes', 'West')
(152500, 1970, 2, 2, 1, 'Yes', 'West')
(133300, 2440, 3, 3, 3, 'No', 'East')
(126800, 2000, 2, 2, 1, 'Yes', 'East')
(145500, 2060, 3, 2, 1, 'No', 'West')
(171000, 2080, 3, 3, 2, 'Yes', 'West')
(103200, 2010, 3, 2, 5, 'No', 'North')
(123100, 2260, 3, 3, 5, 'No', 'East')
(136800, 2410, 3, 3, 4, 'No', 'East')
(211200, 2440, 4, 3, 3, 'Yes', 'West')
(82300, 1910, 3, 2, 4, 'No', 'East')
(146900, 2530, 4, 3, 4, 'No', 'West')
(108500, 2130, 3, 2, 4, 'No', 'North')
(134000, 1890, 3, 2, 1, 'Yes', 'East')
(117000, 1990, 3, 3, 3, 'Yes', 'East')
(108700, 2110, 3, 2, 3, 'No', 'East')
(111600, 1710, 2, 2, 1, 'No', 'North')
(114900, 1740, 2, 2, 2, 'No', 'North')
(123600, 1940, 2, 2, 2, 'Yes', 'East')
(115700, 2000, 3, 2, 3, 'Yes', 'North')
(124500, 2010, 4, 3, 2, 'No', 'East')
(102500, 1900, 3, 3, 3, 'No', 'North')
(199500, 2290, 5, 4, 1, 'Yes', 'West')
(117800, 1920, 3, 2, 2, 'No', 'North')
(150200, 1950, 3, 2, 3, 'Yes', 'North')
(109700, 1920, 2, 2, 4, 'No', 'North')
(110400, 1930, 2, 3, 3, 'No', 'North')
(105600, 1930, 3, 3, 3, 'No', 'East')
(144800, 2060, 2, 2, 1, 'Yes', 'East')
(119700, 1900, 3, 3, 3, 'Yes', 'East')
(147900, 2160, 4, 3, 3, 'Yes', 'East')
(113500, 2070, 2, 2, 2, 'No', 'North')
(149900, 2020, 3, 3, 1, 'No', 'West')
(124600, 2250, 3, 3, 4, 'No', 'North')

In [4]:
import pandas as pd

df = pd.read_csv("houseprices.csv")
# df adalah DataFrame Anda, yang telah diinisialisasi sebelumnya

# Filter data berdasarkan kolom 'Brick' yang bernilai 'No'
df_filtered = df[df['Brick'] == 'No']

# Menampilkan hasil filter
print(df_filtered)

      Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0    114300  1790         2          2       2    No         East
1    114200  2030         4          2       3    No         East
2    114800  1740         3          2       1    No         East
3     94700  1980         3          2       3    No         East
4    119800  2130         3          3       3    No         East
..      ...   ...       ...        ...     ...   ...          ...
120  110400  1930         2          3       3    No        North
121  105600  1930         3          3       3    No         East
125  113500  2070         2          2       2    No        North
126  149900  2020         3          3       1    No         West
127  124600  2250         3          3       4    No        North

[86 rows x 7 columns]

In [5]:
import pandas as pd

# df adalah DataFrame Anda, yang telah diinisialisasi sebelumnya

# Filter data berdasarkan kondisi yang kompleks
df_filtered = df[(df['Brick'] == 'No') | (df['Neighborhood'] == 'East')]

# Menampilkan hasil filter
print(df_filtered)

      Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0    114300  1790         2          2       2    No         East
1    114200  2030         4          2       3    No         East
2    114800  1740         3          2       1    No         East
3     94700  1980         3          2       3    No         East
4    119800  2130         3          3       3    No         East
..      ...   ...       ...        ...     ...   ...          ...
123  119700  1900         3          3       3   Yes         East
124  147900  2160         4          3       3   Yes         East
125  113500  2070         2          2       2    No        North
126  149900  2020         3          3       1    No         West
127  124600  2250         3          3       4    No        North

[105 rows x 7 columns]

In [5]:
import mysql.connector

# Membuat koneksi ke MySQL
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="ps2[gwen]"
)

# Membuat objek cursor untuk mengeksekusi kueri
cursor = connection.cursor()

try:
    # Mengeksekusi kueri SQL
    my_query = "SELECT * FROM data_nama;"
    cursor.execute(my_query)
    
    # Mengambil semua hasil kueri
    result = cursor.fetchall()
    
    # Menampilkan hasil kueri
    print("\nHasil Kueri:")
    for row in result:
        print(row)

finally:
    # Menutup kursor dan koneksi
    cursor.close()
    connection.close()

Hasil Kueri:
('Putra', 'laki - laki', 2023, 170, 150, 'Bekasi', None)
('Rafiq', 'laki - laki', 2023, 170, 30, 'Kampung Tengah', None)
('Faiz Abyan Heryanto', 'laki - laki', 2023, 165, 45, 'Tanjung Priuk', ' ')
('Michael', 'laki - laki', 2023, 167, 15, 'Jakarta Utara', None)
('partahi daniel tua limbong', 'laki - laki', 2023, 173, 45, 'jakarta utara', None)
('hafidz ramadhan', 'laki - laki', 2023, 169, 15, 'Grogol', None)
('Francisco', 'laki - laki', 2023, 170, 30, 'daan mogort ', None)
('Muhammad Rayyan Naufal ', 'laki - laki', 2023, 171, 50, 'Jakarta Timur', None)
('Yustianas Rombon ', 'laki - laki', 2023, 173, 30, 'Jakarta Utara ', None)
('Zahwa Nur Azkia Putri', 'perempuan', 2023, 154, 15, 'grogol', None)
('Dave F.M', 'laki - laki', 2023, 168, 60, 'Tangerang ', None)
('Calista Azzahra', 'perempuan', 2023, 160, 150, 'Bekasi', None)
('Fairuz', 'perempuan', 2023, 156, 45, 'Tanjung Priok', None)
('Gwen Alaina Marela ', 'perempuan', 2023, 152, 17, 'Gambir', None)
('Michael Briant', 'laki - laki', 2023, 167, 10, 'Jl. Tawakal', None)
('ariel febrio', 'laki - laki', 2023, 170, 35, 'kelapa gading', None)
('Rasyid Ridho Muhammad Noor Rafi', 'laki - laki', 2023, 170, 45, 'Cengkareng', None)
('Monic', 'perempuan', 2023, 160, 75, 'Jakarta Timur', None)
('Mara Sutan Arrafi Siregar', 'laki - laki', 2023, 170, 90, 'Sunter Kelapa gading', None)
('Zulfadli Daniswara', 'laki - laki', 2023, 170, 45, 'Kampung Makasar ', None)
('Rangga Aditya Pradana', 'laki - laki', 2023, 185, 90, 'Kota Bekasi', None)
('Mutiara Novianti Rambe', 'perempuan', 2023, 160, 60, 'Pejaten', 'Jakarta Selatan')
('Faiz Firdaus Priyanto', 'laki - laki', 2023, 165, 30, 'Jakarta ', None)
('rafael gala herlambang', 'laki - laki', 2023, 175, 15, 'gunung sahari', None)
('Noval Susanto ', 'laki - laki', 2023, 177, 60, 'Depok', None)
('Fadhil Ibrahim Wira Dharna', 'laki - laki', 2023, 169, 60, 'Cipadu', None)
('Kevin Rizky Pradana', 'laki - laki', 2023, 173, 60, 'Duren Sawit', None)
('Dewanto Maulana Sukaro Putra', 'laki - laki', 2023, 172, 40, 'Tanjung Priok', None)
('Arik Dias Putra', 'laki - laki', 2023, 177, 60, 'Tangerang', None)
('Muhammad Hakim ', 'laki - laki', 2023, 170, 10, 'Tamansari ', None)
('Andrew Hendrian Nathanael', 'laki - laki', 2023, 172, 13, 'tomang', None)
('NUZURUL HAQI FADILLAH', 'laki - laki', 2023, 171, 60, 'Tangerang', None)
('Putri', 'perempuan', 2023, 155, 10, 'Muwardi', None)
('April', 'perempuan', 2023, 155, 10, 'Muwardi', None)
('Naya', 'perempuan', 2023, 165, 10, 'Tawakal', None)

In [5]:
import pandas as pd

df = pd.read_csv("data_nama.csv")

# df adalah DataFrame Anda, yang telah diinisialisasi sebelumnya

# Filter data berdasarkan kolom 'Brick' yang bernilai 'No'
df_filtered = df[df['gender'] == 'perempuan']

# Menampilkan hasil filter
print(df_filtered)

              nama lengkap     gender  angkatan  tinggi badan  \
9    Zahwa Nur Azkia Putri  perempuan      2023           154
11         Calista Azzahra  perempuan      2023           160
12                  Fairuz  perempuan      2023           156
13     Gwen Alaina Marela   perempuan      2023           152
17                   Monic  perempuan      2023           160
21  Mutiara Novianti Rambe  perempuan      2023           160
32                   Putri  perempuan      2023           155
33                   April  perempuan      2023           155
34                    Naya  perempuan      2023           165

    waktu perjalanan / menit wilayah tinggal
9                         15          grogol
11                       150          Bekasi
12                        45   Tanjung Priok
13                        17          Gambir
17                        75   Jakarta Timur
21                        60         Pejaten
32                        10         Muwardi
33                        10         Muwardi
34                        10         Tawakal